.header .logo {
    text-transform: none !important;
}

.footer {
    padding-top: unset !important;
}

form span.contact-label {
    width: 120px !important;
}

form span label {
    font-weight: normal !important;
    margin-bottom: unset !important;
}

.perfect-form-box .perfect-form span, .contact-form-box .contact-form span {
    margin-bottom: unset !important;
}

.contact-area {
    margin: 0 0 -10px 0 !important;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #c90000;
}

.home-post .home-post-cover {
    text-align: center;
    height: 250px;
    max-height: 250px;
    overflow: hidden;
}

.home-post .home-post-cover img {
    display: inline-block;
    width: auto !important;
    max-width: unset !important;
    height: 250px !important;
    max-height: 250px !important;
}

.home-post .home-post-details a {
    color: #c90000;
}

.home-post .intro-text {
    height: 45px;
    max-height: 45px;
    overflow: hidden;
}

.home-post .home-post-title {
    white-space: nowrap;
    overflow: hidden;
}

.home-post .intro-text a {
    color: unset;
    text-decoration: underline;
}

.menu ul li a {
    padding: 22px 15px !important;
}

html, body {
    height: 100%;
}

body > .content {
    min-height: 70%;
}

.pagination > li > a {
    color: #c90000;
}

.pagination > .active > a {
    background-color: #c90000;
    border-color: #c90000;
}

/*
 * ТАБЫ
 */
.nav.nav-tabs a {
    color: #c90000;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #c90000;
    border: 1px solid #c90000;
}

.nav-tabs > li > a:hover {
    color: #fff;
    border-color: #c90000 #c90000 #c90000;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #fff;
    background-color: #c90000;
}

.nav-tabs {
    border-bottom: 1px solid #c90000;
}

.blog-entry .entry-content-details a{
    color: #c90000 !important;
}

.blog-entry .entry-content a {
    color: unset !important;
    text-decoration: underline;
}

.alert {
    color: #fff;
}

.the-slider .the-bullets {
    height: 383px;
    background: #111;
}

.the-slider .the-bullets li {
    padding-left: 25px !important;
    overflow: hidden;
}

.the-slider .the-bullets li a {
    color: unset;
    text-decoration: underline;
}

.blog-entry .entry-cover {
    margin-bottom: 0;
}

/**
 * Image Gallery
 */
.image-gallery {
    text-align: center;
}

.image-gallery a{
    display: inline-block;
    padding: 0;
    margin-bottom: 5px;
}

.image-gallery img{
    display: inline;
}

.site-title a {
    color: #c90000;
}

.perfect-form-box .perfect-form span, .contact-form-box .contact-form span {
    background-color: gray;
}

.prev-next-navigation {
    text-align: center;
}

.prev-next-navigation a{
    color: black;
    text-decoration: underline;
}

.prev-next-navigation a:hover {
    color: #c90000;
}

.prev-next-navigation .pull-left, .prev-next-navigation .pull-right {
    float: unset !important;
    display: inline;
}

.prev-next-navigation .pull-right{
    padding-left: 25px;
}

.tab-content {
    overflow: unset;
}