.header .logo {
    text-transform: none !important;
}

.footer {
    padding-top: unset !important;
}

form span.contact-label {
    width: 120px !important;
}

form span label {
    font-weight: normal !important;
    margin-bottom: unset !important;
}

.perfect-form-box .perfect-form span, .contact-form-box .contact-form span {
    margin-bottom: unset !important;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #c90000;
}

.home-post .home-post-cover {
    text-align: center;
    height: 250px;
    max-height: 250px;
    overflow: hidden;
}

.home-post .home-post-cover img {
    display: inline-block;
    width: auto !important;
    max-width: unset !important;
    height: 250px !important;
    max-height: 250px !important;
}

.home-post .home-post-details a {
    color: #c90000;
}

.menu ul li a {
    padding: 22px !important;
}

html, body {
    height: 100%;
}

body > .content {
    min-height: 70%;
}

.pagination > li > a {
    color: #c90000;
}

.pagination > .active > a {
    background-color: #c90000;
    border-color: #c90000;
}